@import url(http://fonts.googleapis.com/css?family=Advent+Pro);
@import url(http://fonts.googleapis.com/css?family=Oxygen);
html, body {
  background-color: #f4f4f4;
  background: url(../images/bgs/body.png) repeat;
}

body {
  color: #555;
  text-shadow: 1px 1px 1px #ddd;
  height: 100%;
  font-family: 'Oxygen', '微软雅黑', sans-serif;
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
  color: #222;
  text-rendering: optimizelegibility;
  font-family: 'Advent Pro', '微软雅黑', sans-serif;
}

a {
  color: #4cb4e8;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
a:hover {
  color: #415;
  text-decoration: none;
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  font-weight: normal;
  color: #131313;
}

h1, h2 {
  margin: 0 0 15px;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

pre, code {
  color: #444;
}

pre > code {
  background: none;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
}

hr {
  border: none;
  background: rgba(0, 0, 0, 0.7);
  height: 1px;
}

.navbar {
  margin-bottom: 0;
}
.navbar div.navbar-inner {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
.navbar div.navbar-inner a.brand {
  padding: 10px 20px;
}
.navbar div.navbar-inner ul.nav:first-child li a {
  padding: 12px 10px 8px;
}

.container > footer {
  margin-top: 20px;
  clear: both;
}

.container > footer p {
  text-align: center;
}

.content {
}
#mainContent img {
  box-shadow: 9px 10px 15px rgba(0, 0, 0, 0.5);
}
.content.no-header {
  padding-top: 40px;
}
.content div.row div.span8 > img {
  display: block;
  margin: 10px auto;
}
.content div.row div.span4 h4 {
  margin-top: 10px;
}
.content div.row div.span4 h4:first {
  margin-top: 0;
}
.content p {
  padding-bottom: 15px;
  line-height: 25px;
  margin: 0;
}

.page-header {
  -webkit-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  -moz-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  background: #fff;
  border: none;
  padding: 20px 20px 10px;
  margin: 0px -20px 20px;
  z-index: 0;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -ms-border-bottom-left-radius: 5px;
  -o-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -ms-border-bottom-right-radius: 5px;
  -o-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.page-header h1 {
  color: #222;
  margin-bottom: 0;
}

.topbar .btn {
  border: 0;
}

div.pagination li a {
  -webkit-box-shadow: 0px 1px 1px black;
  -moz-box-shadow: 0px 1px 1px black;
  box-shadow: 0px 1px 1px black;
}

a.btn, a.btn.disabled {
  color: #fff;
  text-shadow: 1px 1px 2px #aaa;
  background: #666;
  border: none;
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 2px 3px 5px, rgba(0, 0, 0, 0.4) -1px -1px 1px 1px inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 2px 3px 5px, rgba(0, 0, 0, 0.4) -1px -1px 1px 1px inset;
  -o-box-shadow: rgba(0, 0, 0, 0.4) 2px 3px 5px, rgba(0, 0, 0, 0.4) -1px -1px 1px 1px inset;
}
a.btn:hover{
  background: rgba(100, 100, 100, 0.15);
}
a.btn.disabled:hover{
  background: rgba(100, 100, 100, 0.1);
  color:#555;
  text-shadow: 1px 1px 2px #333;
}
a.btn.disabled{
  color: #eee;
}

.tag_box {
  list-style: none;
  margin: 0;
  padding: 5px 0;
  overflow: hidden;
}
.tag_box.inline li {
  float: left;
}
.tag_box li {
  line-height: 28px;
}
.tag_box a.active {
  background: #57A957;
  border: 1px solid #4C964D;
  color: #FFF;
}
.tag_box a span {
  vertical-align: super;
  font-size: 0.8em;
}

.tag_box.inline a,
.tag_box a {
  padding: 3px 6px;
  margin: 2px;
  background: rgba(0, 0, 0, 0.2);
  color: #000;
  border-radius: 3px;
  text-decoration: none;
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 2px 3px 3px, rgba(0, 0, 0, 0.5) -1px -1px 1px 1px inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 2px 3px 3px, rgba(0, 0, 0, 0.5) -1px -1px 1px 1px inset;
  -o-box-shadow: rgba(0, 0, 0, 0.4) 2px 3px 3px, rgba(0, 0, 0, 0.5) -1px -1px 1px 1px inset;
}
.tag_box.inline a:hover,
.tag_box a:hover {
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  text-shadow: 1px 1px 1px #ccc;
}

div.content div#page-index {
  padding-top: 30px !important;
}

.navbar a.zocial {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.zocial.googleplus:focus,
.zocial.googleplus:hover {
  color: #e01d30 !important;
}

.zocial.twitter:focus,
.zocial.twitter:hover {
  color: #46c0fb !important;
}

.zocial.linkedin:focus,
.zocial.linkedin:hover {
  color: #50a1cb !important;
}

.navbar {
  margin-bottom: 0;
}
.navbar div.navbar-inner {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
.navbar ul.social {
}
@media (min-width: 240px) and (max-width: 979px) {
  .navbar ul.social {
    display: none !important;
  }
}

@media (max-width: 767px) {
  body {
    padding-right: 0px;
    padding-left: 0px;
  }

  div.container {
    padding: 0px 20px;
  }
  div.container div.page-header {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
  }
}
article.post header {
  margin-bottom: 10px;
}
article.post header h1, article.post header h2 {
  margin: 0;
}
article.post header .category {
  display: inline-block;
  color: #000;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  padding-left: 6px;
  margin-left: 3px;
}

div.posts article div.date {
  font-size: 10px;
  padding: 10px 0;
}
div.posts article div.date time {
  -webkit-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  -moz-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  background: #202020;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding: 5px 10px;
}

div.sidebar section {
  background: #202020;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  -moz-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding: 15px;
}
div.sidebar section img.icon {
  float: left;
  margin: 7px 15px 0 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

a.transparent:hover {
  
  -moz-box-shadow: rgba(255,255,255,.28) 0px 1px 1px, inset rgba(0,0,0,.5) 0 1px 4px;
  -webkit-box-shadow: rgba(255,255,255,.28) 0px 1px 1px, inset rgba(0,0,0,.5) 0 1px 4px;
  box-shadow: rgba(255,255,255,.28) 0px 1px 1px, inset rgba(0,0,0,.5) 0 1px 4px;
  
  background-image: -moz-linear-gradient(top, rgba(0,0,0,.1) 0%, rgba(0,0,0,0) 30%, rgba(0,0,0,.2) 100%);
  
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.1)), color-stop(30%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,.2)));
  
  background-image: -webkit-linear-gradient(top, rgba(0,0,0,.1) 0%, rgba(0,0,0,0) 30%, rgba(0,0,0,.2) 100%);
  
  background-image: -o-linear-gradient(top, rgba(0,0,0,.1) 0%, rgba(0,0,0,0) 30%, rgba(0,0,0,.2) 100%);
  
  background-image: linear-gradient(top, rgba(0,0,0,.1) 0%, rgba(0,0,0,0) 30%, rgba(0,0,0,.2) 100%);
  
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
a.transparent:active {
  
  background: rgba(0,0,0,.3);
  
  -moz-box-shadow: rgba(255,255,255,.28) 0px 1px 1px, inset rgba(0,0,0,.5) 0 1px 6px;
  -webkit-box-shadow: rgba(255,255,255,.28) 0px 1px 1px, inset rgba(0,0,0,.5) 0 1px 6px;
  box-shadow: rgba(255,255,255,.28) 0px 1px 1px, inset rgba(0,0,0,.5) 0 1px 6px;
}