body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1771px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:160px;
  top:-160px;
}
#u0_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u0_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:1066px;
  color:#FFFFFF;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:1066px;
}
#u2 {
  position:absolute;
  left:2px;
  top:525px;
  width:1596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u0_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u0_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:1066px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:1066px;
}
#u4 {
  position:absolute;
  left:2px;
  top:525px;
  width:1596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u0_state2 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u0_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5 {
  position:absolute;
  left:0px;
  top:228px;
  width:1600px;
  height:1066px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:1066px;
}
#u6 {
  position:absolute;
  left:2px;
  top:525px;
  width:1596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u0_state3 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u0_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:1066px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:1066px;
}
#u8 {
  position:absolute;
  left:2px;
  top:525px;
  width:1596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:301px;
  top:460px;
  width:1470px;
  height:450px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1470px;
  height:450px;
}
#u10 {
  position:absolute;
  left:2px;
  top:217px;
  width:1466px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:160px;
  top:461px;
  width:142px;
  height:88px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
  color:#CCCCCC;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:88px;
}
#u11_img.selected {
}
#u11.selected {
}
#u11_img.mouseOver {
}
#u11.mouseOver {
}
#u12 {
  position:absolute;
  left:2px;
  top:32px;
  width:138px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:160px;
  top:549px;
  width:142px;
  height:88px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
  color:#CCCCCC;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:88px;
}
#u13_img.selected {
}
#u13.selected {
}
#u13_img.mouseOver {
}
#u13.mouseOver {
}
#u14 {
  position:absolute;
  left:2px;
  top:32px;
  width:138px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:160px;
  top:637px;
  width:142px;
  height:88px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
  color:#CCCCCC;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:88px;
}
#u15_img.selected {
}
#u15.selected {
}
#u15_img.mouseOver {
}
#u15.mouseOver {
}
#u16 {
  position:absolute;
  left:2px;
  top:32px;
  width:138px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:160px;
  top:725px;
  width:142px;
  height:88px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
  color:#CCCCCC;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:88px;
}
#u17_img.selected {
}
#u17.selected {
}
#u17_img.mouseOver {
}
#u17.mouseOver {
}
#u18 {
  position:absolute;
  left:2px;
  top:32px;
  width:138px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:160px;
  top:813px;
  width:142px;
  height:88px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
  color:#CCCCCC;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:88px;
}
#u19_img.selected {
}
#u19.selected {
}
#u19_img.mouseOver {
}
#u19.mouseOver {
}
#u20 {
  position:absolute;
  left:2px;
  top:32px;
  width:138px;
  word-wrap:break-word;
}
