body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:60px;
  width:1920px;
  height:600px;
  overflow:hidden;
}
#u0_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:600px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u0_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:600px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1 {
  position:absolute;
  left:1600px;
  top:-29px;
  width:360px;
  height:809px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:809px;
}
#u2 {
  position:absolute;
  left:2px;
  top:396px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:-40px;
  top:-50px;
  width:360px;
  height:809px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:809px;
}
#u4 {
  position:absolute;
  left:2px;
  top:396px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:600px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:600px;
}
#u6 {
  position:absolute;
  left:2px;
  top:292px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u0_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:600px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:600px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:600px;
}
#u8 {
  position:absolute;
  left:2px;
  top:292px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u0_state3 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:600px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:600px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:600px;
}
#u10 {
  position:absolute;
  left:2px;
  top:292px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u0_state4 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:600px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state4_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:600px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:600px;
}
#u12 {
  position:absolute;
  left:2px;
  top:292px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:60px;
  font-family:'幼圆 Regular', '幼圆';
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:60px;
}
#u14 {
  position:absolute;
  left:2px;
  top:22px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:440px;
  top:10px;
  width:40px;
  height:40px;
  font-family:'华文琥珀 Regular', '华文琥珀';
  font-size:28px;
  color:#FFFFFF;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u16 {
  position:absolute;
  left:2px;
  top:6px;
  width:36px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:812px;
  top:0px;
  width:149px;
  height:60px;
  font-family:'幼圆 Bold', '幼圆';
  font-weight:700;
  font-size:20px;
  color:#CCCCCC;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:60px;
}
#u17_img.selected {
}
#u17.selected {
}
#u17_img.mouseOver {
}
#u17.mouseOver {
}
#u18 {
  position:absolute;
  left:2px;
  top:19px;
  width:145px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:662px;
  top:0px;
  width:149px;
  height:60px;
  font-family:'幼圆 Bold', '幼圆';
  font-weight:700;
  font-size:20px;
  color:#CCCCCC;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:60px;
}
#u19_img.selected {
}
#u19.selected {
}
#u19_img.mouseOver {
}
#u19.mouseOver {
}
#u20 {
  position:absolute;
  left:2px;
  top:19px;
  width:145px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:513px;
  top:0px;
  width:149px;
  height:60px;
  font-family:'幼圆 Bold', '幼圆';
  font-weight:700;
  font-size:20px;
  color:#CCCCCC;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:60px;
}
#u21_img.selected {
}
#u21.selected {
}
#u21_img.mouseOver {
}
#u21.mouseOver {
}
#u22 {
  position:absolute;
  left:2px;
  top:19px;
  width:145px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:961px;
  top:0px;
  width:149px;
  height:60px;
  font-family:'幼圆 Bold', '幼圆';
  font-weight:700;
  font-size:20px;
  color:#CCCCCC;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:60px;
}
#u23_img.selected {
}
#u23.selected {
}
#u23_img.mouseOver {
}
#u23.mouseOver {
}
#u24 {
  position:absolute;
  left:2px;
  top:19px;
  width:145px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:1110px;
  top:0px;
  width:149px;
  height:60px;
  font-family:'幼圆 Bold', '幼圆';
  font-weight:700;
  font-size:20px;
  color:#CCCCCC;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:60px;
}
#u25_img.selected {
}
#u25.selected {
}
#u25_img.mouseOver {
}
#u25.mouseOver {
}
#u26 {
  position:absolute;
  left:2px;
  top:19px;
  width:145px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:1260px;
  top:0px;
  width:149px;
  height:60px;
  font-family:'幼圆 Bold', '幼圆';
  font-weight:700;
  font-size:20px;
  color:#CCCCCC;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:60px;
}
#u27_img.selected {
}
#u27.selected {
}
#u27_img.mouseOver {
}
#u27.mouseOver {
}
#u28 {
  position:absolute;
  left:2px;
  top:19px;
  width:145px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:971px;
  top:600px;
  width:30px;
  height:30px;
  font-family:'幼圆 Regular', '幼圆';
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u29_img.selected {
}
#u29.selected {
}
#u29_img.mouseOver {
}
#u29.mouseOver {
}
#u30 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:921px;
  top:600px;
  width:30px;
  height:30px;
  font-family:'幼圆 Regular', '幼圆';
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u31_img.selected {
}
#u31.selected {
}
#u31_img.mouseOver {
}
#u31.mouseOver {
}
#u32 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:1021px;
  top:600px;
  width:30px;
  height:30px;
  font-family:'幼圆 Regular', '幼圆';
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u33_img.selected {
}
#u33.selected {
}
#u33_img.mouseOver {
}
#u33.mouseOver {
}
#u34 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:871px;
  top:600px;
  width:30px;
  height:30px;
  font-family:'幼圆 Regular', '幼圆';
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u35_img.selected {
}
#u35.selected {
}
#u35_img.mouseOver {
}
#u35.mouseOver {
}
#u36 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:296px;
  top:182px;
  width:327px;
  height:390px;
  font-family:'幼圆 Bold', '幼圆';
  font-weight:700;
  font-size:24px;
  color:#333333;
  line-height:66px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:390px;
}
#u38 {
  position:absolute;
  left:2px;
  top:-2px;
  width:323px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:510px;
  top:60px;
  width:900px;
  height:600px;
  overflow:hidden;
}
#u39_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:600px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u39_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:600px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:600px;
}
#u41 {
  position:absolute;
  left:2px;
  top:292px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:401px;
  top:100px;
  width:599px;
  height:399px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:599px;
  height:399px;
}
#u43 {
  position:absolute;
  left:2px;
  top:192px;
  width:595px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:61px;
  top:110px;
  width:382px;
  height:385px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:37px;
  font-family:'幼圆 Bold', '幼圆';
  font-weight:700;
  font-size:20px;
  color:#333333;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:37px;
}
#u46 {
  position:absolute;
  left:2px;
  top:8px;
  width:101px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:105px;
  top:0px;
  width:272px;
  height:37px;
  font-family:'幼圆 Bold', '幼圆';
  font-weight:700;
  font-size:20px;
  color:#333333;
  text-align:center;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:37px;
}
#u48 {
  position:absolute;
  left:2px;
  top:8px;
  width:268px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:0px;
  top:37px;
  width:105px;
  height:70px;
  font-family:'幼圆 Bold', '幼圆';
  font-weight:700;
  font-size:20px;
  color:#333333;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:70px;
}
#u50 {
  position:absolute;
  left:2px;
  top:24px;
  width:101px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:105px;
  top:37px;
  width:272px;
  height:70px;
  font-family:'幼圆 Bold', '幼圆';
  font-weight:700;
  font-size:20px;
  color:#333333;
  text-align:center;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:70px;
}
#u52 {
  position:absolute;
  left:2px;
  top:24px;
  width:268px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:0px;
  top:107px;
  width:105px;
  height:37px;
  font-family:'幼圆 Bold', '幼圆';
  font-weight:700;
  font-size:20px;
  color:#333333;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:37px;
}
#u54 {
  position:absolute;
  left:2px;
  top:8px;
  width:101px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:105px;
  top:107px;
  width:272px;
  height:37px;
  font-family:'幼圆 Bold', '幼圆';
  font-weight:700;
  font-size:20px;
  color:#333333;
  text-align:center;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:37px;
}
#u56 {
  position:absolute;
  left:2px;
  top:8px;
  width:268px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:0px;
  top:144px;
  width:105px;
  height:236px;
  font-family:'幼圆 Bold', '幼圆';
  font-weight:700;
  font-size:20px;
  color:#333333;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:236px;
}
#u58 {
  position:absolute;
  left:2px;
  top:107px;
  width:101px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:105px;
  top:144px;
  width:272px;
  height:236px;
  font-family:'幼圆 Bold', '幼圆';
  font-weight:700;
  font-size:20px;
  color:#333333;
  text-align:center;
  line-height:28px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:236px;
}
#u60 {
  position:absolute;
  left:2px;
  top:20px;
  width:268px;
  word-wrap:break-word;
}
#u39_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:600px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u39_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:600px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:600px;
}
#u62 {
  position:absolute;
  left:2px;
  top:292px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:445px;
  top:390px;
  width:300px;
  height:225px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:225px;
}
#u64 {
  position:absolute;
  left:2px;
  top:104px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:445px;
  top:39px;
  width:10px;
  height:520px;
}
#u65_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u65_end {
  position:absolute;
  left:-5px;
  top:503px;
  width:20px;
  height:18px;
}
#u65_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:520px;
}
#u66 {
  position:absolute;
  left:-28px;
  top:400px;
  width:238px;
  height:230px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:230px;
}
#u67 {
  position:absolute;
  left:2px;
  top:107px;
  width:234px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:161px;
  top:83px;
  width:129px;
  height:37px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u70 {
  position:absolute;
  left:616px;
  top:83px;
  width:129px;
  height:37px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u72 {
  position:absolute;
  left:66px;
  top:167px;
  width:318px;
  height:23px;
  font-size:20px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:23px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  white-space:nowrap;
}
#u74 {
  position:absolute;
  left:908px;
  top:752px;
  width:110px;
  height:14px;
  font-family:'幼圆 Regular', '幼圆';
  color:#333333;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:14px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  white-space:nowrap;
}
