<div class="page-header">
  <h1>
    {{ page.title }} 

<!-- JiaThis Button END -->
    {% if page.tagline & page.tagline != '' %}
      <br/>
      <small>{{ page.tagline }}
    {%else%}
      <br/>
      <small>本文为原创，转载请注明出处
    {% endif %}
    <!-- JiaThis Button BEGIN -->

  </small>
  </h1>
</div>

<!-- JiaThis Button END -->
<div class="row">
  <div class="span8">
    <div class="row" style="padding:0px 0px 10px 20px;">
  <!-- JiaThis Button BEGIN -->
<div class="jiathis_style">
  <span class="jiathis_txt">分享到：</span>
  <a class="jiathis_button_icons_1"></a>
  <a class="jiathis_button_icons_2"></a>
  <a class="jiathis_button_icons_3"></a>
  <a class="jiathis_button_icons_4"></a>
  <a href="http://www.jiathis.com/share?uid=1808684" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
  <a class="jiathis_counter_style"></a>
</div>
<div class="jiathis_style right">
  <a class="jiathis_like_tsina"></a>
</div>
<script type="text/javascript">
var jiathis_config = {data_track_clickback:'true'};
</script>
</div>
<script type="text/javascript" >
var jiathis_config={
  data_track_clickback:true,
  summary:"",
  ralateuid:{
    "tsina":"weiyujingchen"
  },
  hideMore:false
}
</script>
    <div id="mainContent">{{ content }}</div>
    <hr>
<!-- UJian Button BEGIN -->
<div class="ujian-hook"></div>
<script type="text/javascript" src="http://v1.ujian.cc/code/ujian.js?type=slide&uid=1808684"></script>

<a href="http://www.ujian.cc" style="border:0;"><img src="http://img.ujian.cc/pixel.png" alt="友荐云推荐" style="border:0;padding:0;margin:0;" /></a>
<!-- UJian Button END -->
    <div class="pagination btn-group">
      {% if page.previous %}
        <a class="btn prev" href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; 上一页</a>
      {% else %}
        <a class="btn disabled prev">&larr; 上一页</a>
      {% endif %}
        <a class="btn" href="{{ BASE_PATH }}{{ site.JB.archive_path }}">文章列表</a>
      {% if page.next %}
        <a class="btn next" href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">下一页 &rarr;</a>
      {% else %}
        <a class="btn next disabled">下一页 &rarr;</a>
      {% endif %}
    </div>
    <hr>
    {% include JB/comments %}
  </div>
  <script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=1808684"></script>
  <div class="span4">
    <section>
      <iframe width="100%" height="550" class="share_self"  frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=&width=0&height=550&fansRow=2&ptype=1&speed=300&skin=1&isTitle=0&noborder=0&isWeibo=1&isFans=0&uid=1655302624&verifier=92dd58d1&dpc=1"></iframe>
    </section>
    <section>
      <h4>发布日期</h4>
      <div class="date"><span>{{ page.date | date :"%Y年%m月%d日" }}</span></div>
    </section>
    {% if page.category %}
      <section>
        <h4>分类</h4>
        <span class="category">
          {{ page.category }}
        </span>
      </section>
    {% endif %}
    {% unless page.tags == empty %}
      <section>
        <h4>标签</h4>
        <ul class="tag_box">
          {% assign tags_list = page.tags %}
          {% include JB/tags_list %}
        </ul>
      </section>
    {% endunless %}         
  </div>
</div>


<!-- JiaThis Button BEGIN -->
<script type="text/javascript" >
var jiathis_config={
  data_track_clickback:true,
  siteNum:15,
  sm:"email,tsina,tqq,renren,weixin,qzone,kaixin001,copy,fav,print,ishare,douban9dian,tsohu,baidu,evernote",
  summary:"",
  boldNum:6,
  ralateuid:{
    "tsina":"weiyujingchen"
  },
  showClose:true,
  hideMore:false
}
</script>

<script type="text/javascript" src="http://v3.jiathis.com/code/jiathis_r.js?uid=1808684&btn=r2.gif&move=1" charset="utf-8"></script>
<!-- JiaThis Button END -->


<!-- JiaThis Button BEGIN -->
<div class="jiathis_streak_share_24x24" id="jiathis_streak_share" style="display:none">
<span class="streak_share_jiao"></span>
<div class="jiathis_streak_goshare" id="jiathis_streak_goshare"><span class="jiathis_streak_txt">分享到</span>  <span style="" title="隐藏分享框" onclick="JIATHIS_STREAK.hideShare()" class="jiathis_streak_close">X</span></div>
<div class="jiathis_style_24x24" >
<a class="jiathis_button_tsina"></a>
<a class="jiathis_button_tqq"></a>
<a class="jiathis_button_renren"></a>
<a class="jiathis_button_weixin"></a>
<a class="jiathis_button_email"></a>
<a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
<script type="text/javascript">
var jiathis_config = {data_track_clickback:'true'};
</script>
</div></div>
<!-- JiaThis Button END -->

<script type="text/javascript">
var jiathis_config = {
    shareImg:{
        "showType":"ALL",
        "bgColor":"",
        "txtColor":"",
        "text":"",
        "services":"",
        "position":"",
        "imgwidth":"",
        "imgheight":"",
        "divname":""
    }
}
</script>


<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=1808684" charset="utf-8"></script>

<script type="text/javascript" src="http://v3.jiathis.com/code_mini/jia.js?uid=1369026054788331" charset="utf-8"></script>


<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=1369026054788331" charset="utf-8"></script> 
<script type="text/javascript" src="http://v3.jiathis.com/code/jiathis_streak.js" charset="utf-8"></script>
