body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1600px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:2590px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:2590px;
}
#u1 {
  position:absolute;
  left:2px;
  top:1287px;
  width:1596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:fixed;
  left:0px;
  top:0px;
  visibility:hidden;
}
#u2_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u2_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:900px;
  color:#FFFFFF;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:900px;
}
#u4 {
  position:absolute;
  left:2px;
  top:442px;
  width:1596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:fixed;
  left:0px;
  top:0px;
}
#u5_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u5_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6 {
  position:absolute;
  left:1110px;
  top:0px;
  width:490px;
  height:80px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  height:80px;
}
#u7 {
  position:absolute;
  left:2px;
  top:32px;
  width:486px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:420px;
  top:0px;
  width:140px;
  height:80px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
  color:#6384BA;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:80px;
}
#u8_img.selected {
}
#u8.selected {
}
#u8_img.mouseOver {
}
#u8.mouseOver {
}
#u9 {
  position:absolute;
  left:2px;
  top:28px;
  width:136px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:558px;
  top:0px;
  width:140px;
  height:80px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
  color:#6384BA;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:80px;
}
#u10_img.selected {
}
#u10.selected {
}
#u10_img.mouseOver {
}
#u10.mouseOver {
}
#u11 {
  position:absolute;
  left:2px;
  top:28px;
  width:136px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:696px;
  top:0px;
  width:140px;
  height:80px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
  color:#6384BA;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:80px;
}
#u12_img.selected {
}
#u12.selected {
}
#u12_img.mouseOver {
}
#u12.mouseOver {
}
#u13 {
  position:absolute;
  left:2px;
  top:28px;
  width:136px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:834px;
  top:0px;
  width:140px;
  height:80px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
  color:#6384BA;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:80px;
}
#u14_img.selected {
}
#u14.selected {
}
#u14_img.mouseOver {
}
#u14.mouseOver {
}
#u15 {
  position:absolute;
  left:2px;
  top:28px;
  width:136px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:972px;
  top:0px;
  width:140px;
  height:80px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
  color:#6384BA;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:80px;
}
#u16_img.selected {
}
#u16.selected {
}
#u16_img.mouseOver {
}
#u16.mouseOver {
}
#u17 {
  position:absolute;
  left:2px;
  top:28px;
  width:136px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:80px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:80px;
}
#u19 {
  position:absolute;
  left:2px;
  top:32px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
