p{
 text-indent: 2em;
}

.textCenter{
	text-align: center;
	text-indent: 0;
}
.left{
	float: left;
}
.right{
	float: right;
}
.navbar .nav>li>a{
	color:#4cb4e8;
}

.zocial{
	width:36px;
}

.zocial{
	height:19px;
}
.navbar .divider-vertical{
	margin: 0px;
}

.code-title{
	font-size: 1.2em;
	border: 1px solid #999;
	background: #fff;
	padding: 4px 10px;
	width:120px;

}

.parent{
	height:200px;
	padding: 40px 0;
	background: #ccc;
	border: 1px solid #666;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius:6px;

}
.child{
	color: white;
	height:100px;
	background: #77f;
	border: 1px solid #666;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius:6px;
    -webkit-box-shadow: 8px 8px 20px 0px #59f;
    -moz-box-shadow: 8px 8px 20px 0px #59f;
    box-shadow: 8px 8px 20px 0px #59f;
}
.syntaxhighlighter code, .gutter{
	box-shadow: none;
	text-shadow: 1px 1px 1px #444;
}
.syntaxhighlighter{
	margin-top: 0 !important;
}

blockquote {
 background:#f9f9f9;
 border-left:10px solid #ccc;
 margin:1.5em 10px;
 padding:.5em 10px;
 quotes:"\201C""\201D""\2018""\2019";
 }
 blockquote:before {
 color:#ccc;
 content:open-quote;
 font-size:4em;
 line-height:.1em;
 margin-right:.25em;
 vertical-align:-.4em;
 }
 blockquote p {
 display:inline;
 }

 #license{
 	padding: 10px;
 }
 #license p{
 	text-indent: 0;
 	padding-bottom: 0px;
 }
 #license img{
 	margin: 10px 10px 0px 0px;
 }