body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:700px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:400px;
  top:51px;
  width:300px;
  height:533px;
  overflow:hidden;
}
#u1_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:533px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
}
#u2_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u2_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:533px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:533px;
}
#u4 {
  position:absolute;
  left:2px;
  top:258px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:430px;
  top:278px;
  width:240px;
  height:162px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:162px;
}
#u6 {
  position:absolute;
  left:2px;
  top:73px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:430px;
  top:389px;
  width:240px;
  height:10px;
}
#u7_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u7_end {
  position:absolute;
  left:223px;
  top:-5px;
  width:18px;
  height:20px;
}
#u7_line {
  position:absolute;
  left:0px;
  top:5px;
  width:240px;
  height:1px;
}
#u8 {
  position:absolute;
  left:532px;
  top:406px;
  width:36px;
  height:23px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-size:16px;
  color:#5ABAA3;
  text-align:center;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:23px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:430px;
  top:278px;
  width:240px;
  height:162px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:162px;
}
#u11 {
  position:absolute;
  left:2px;
  top:73px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:447px;
  top:298px;
  width:205px;
  height:36px;
}
#u12_input {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:36px;
  background-image:none;
  background-color:#F2F2F2;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u13 {
  position:absolute;
  left:447px;
  top:348px;
  width:205px;
  height:36px;
}
#u13_input {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:36px;
  background-image:none;
  background-color:#F2F2F2;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u14 {
  position:absolute;
  left:430px;
  top:390px;
  width:240px;
  height:10px;
}
#u14_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_end {
  position:absolute;
  left:223px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_line {
  position:absolute;
  left:0px;
  top:5px;
  width:240px;
  height:1px;
}
#u15 {
  position:absolute;
  left:532px;
  top:407px;
  width:36px;
  height:22px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-size:16px;
  color:#5ABAA3;
  text-align:center;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:22px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:445px;
  top:314px;
  width:209px;
  height:56px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  color:#666666;
  text-align:center;
  line-height:28px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:56px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:524px;
  top:308px;
  width:51px;
  height:15px;
  color:#999999;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:15px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
